/*---------background--------*/
body{
    background-image: url('../images/main.png');
    background-size: 1800px;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

/*-----------logo------------*/
#logo-wrap {
    width: 700px;
    margin-left:20px;
    margin-top: 15px;
    position: relative;
}
#logo-wrap img {
    /*img size adjusting in wrap tag*/
    width: 70%;
}
#logo-text {
    font-family: "Microsoft YaHei UI Light",Trebuchet MS, Dotum, Arial; 
    text-align: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate( -15%, -55% );
}

/*---------------menu------------*/
#topMenu {
    position: absolute;
    width: 1600px; 
    top: 80%;
}
#topMenu ul li {                      
    list-style: none;          
    color: black;               
    float: right;               
    line-height: 30px;          
    vertical-align: middle;    
    text-align: center;        
}
#topMenu .menuLink {                               
    text-decoration:none;                    
    color: black;                         
    display: inline-block;                           
    width: 150px;                           
    font-size: 20px;                   
    font-weight: bold;                        
    font-family: "Microsoft YaHei UI Light",Trebuchet MS, Dotum, Arial; 
}
#topMenu .menuLink:hover {           
    color: gray;                   
} 
/*---------------top_buttn------------*/
#top_button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/*---------------mark_color-------------*/
mark{
    background-color: lightpink;
}