/*---------background--------*/
body{
    background-image: url('../images/main.png');
    background-size: 1800px;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

/*-----------logo------------*/
#logo-wrap {
    width: 700px;
    margin-left:20px;
    margin-top: 15px;
    position: relative;
}
#logo-wrap img {
    /*img size adjusting in wrap tag*/
    width: 70%;
}
#logo-text {
    font-family: "Microsoft YaHei UI Light",Trebuchet MS, Dotum, Arial; 
    text-align: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate( -15%, -55% );
}

/*---------------menu------------*/
#topMenu {
    position: absolute;
    width: 1600px; 
    top: 80%;
}
#topMenu ul li {                      
    list-style: none;          
    color: black;               
    float: right;               
    line-height: 30px;          
    vertical-align: middle;    
    text-align: center;        
}
#topMenu .menuLink {                               
    text-decoration:none;                    
    color: black;                         
    display: inline-block;                           
    width: 150px;                           
    font-size: 20px;                   
    font-weight: bold;                        
    font-family: "Microsoft YaHei UI Light",Trebuchet MS, Dotum, Arial; 
}
#topMenu .menuLink:hover {           
    color: gray;                   
} 
#topMenu #menuicon:hover{
    color: gray;
    width: 500px;  
}
/*---------------top_button------------*/
#top_button {
    z-index: -20;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
/*---------------project_button---------------*/
#project_menu{
    position:fixed; 
    right:10%; 
    top:10%;
}
input[id="menuicon"]{
    display:none;
}
input[id="menuicon"] + label{
    display:block;
    width:40px;
    height:30px;
    position:relative;
    cursor:pointer;
}
input[id="menuicon"] + label span {
    display:block;
    position:absolute;
    width:100%;
    height:3px;
    border-radius:30px;
    background: #000;
    transition:all.35s;
}
input[id="menuicon"] + label span:nth-child(1){
    top:0;
}
input[id="menuicon"] + label span:nth-child(2){
    top:50%;
    transform:translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3){
    bottom:0;
}

input[id="menuicon"]:checked + label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2){
    opacity:0;
}
input[id="menuicon"]:checked + label span:nth-child(3){
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}

div[class="sidebar"]{ 
    width:300px; 
    height:100%; 
    background:lightgray; 
    position:fixed; 
    top:0; right:-300px; 
    z-index:-1; 
    transition:all .35s;
}
input[id="menuicon"]:checked + label + div {
    right:0;
}
/*---------------mark_color-------------*/
mark{
    background-color: lightpink;
}

