<!DOCTYPE html>
<html>
    <head>
        <title>chldydgh4687/github.io</title>
        <style>
            /* debugging */
            .box_check{
                border: 1px solid #000000;
            }   
        </style>
        <!-----------------------------------background / menu / logo----------------------------->
        <link rel="stylesheet" href="../css/back_ground.css">
        <!-----------------------------------context----------------------------->
        <link rel="stylesheet" href="../css/context.css">
        <!-----------------------------------act----------------------------->
        <link rel="stylesheet" href="../css/act_style.css">
    </head>
    <body>
        <!-------------------------PROJECT_BUTTON------------------------->
        </header>
            <div id="project_menu">
                <input type="checkbox" id="menuicon">
                <label for="menuicon">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <div class="sidebar">
                    <div class="sidebar_list">
                        <h3 style="text-align: center;">Git Repository</h3>
                        <dl>
                            <dd><a href="https://github.com/chldydgh4687/2020-2.simple_DCSCN" target="_blank">2020-2.simple_DCSCN</a></dd>
                            <dd><a href="https://github.com/chldydgh4687/2020-1.Creative.VideoCaptioning" target="_blank">2020-1.Creative.VideoCaptioning</a></dd>
                        </dl>                        
                    </div>
                </div>
            </div>

            <!------------------------logo-------------------------->
            <div id="logo-wrap">
                <a href="../index.html"><img src="../images/logo.png" alt="" usemap="#github" style="z-index:1;"></a>
                <map name="github">
                    <area shape="rect" coords="455,55,475,75"
                    href="https://github.com/chldydgh4687" target="_blank" alt="github.com/chldydgh4687">
                </map>
                <div id="logo-text">
                    <h1 style="font-size:2em">chldydgh4687<br>
                        <span style="font-size:15px">VideoCompression & ImageRestoration</span>
                    </h1>
                </div>

                <nav id="topMenu">
                    <ul>
                        <li><a class="menuLink" href="https://sites.google.com/view/ivcl" target="_blank">IVCL.Lab</a></li>
                        <li><a class="menuLink" href="../layouts/Activity.html">Activity</a></li>
                        <li><a class="menuLink" href="../layouts/Introduction.html">Introduction</a></li>
                        <li><a class="menuLink" href="../index.html">Main</a></li>
                    </ul>
                </nav>
            </div>
        </header>


        <section>
            <div class="text_config checklist_" style="height:500px;">
                <h1>Activity</h1><hr>
               
                <h3>Versatile Video Coding (VVC) Standard</h3>
                <li> Simple_DCSCN in [AHG11: Deep Neural Network for Super-Resolution, JVET-T0096, Oct. 2020 (Teleconference), J. Y. Lee, Y. Choi (Sejong University), W. Lim, G. Bang (ETRI)] (B.S.)</li>
                
                <br>

                <h3>Deep Leanring</h3>
                <li>Improvement of Video Captioning Network Performance for Low Video Quality, 2020-1. SEJONG.UNIV_창의학기제</li>

                <pre style="position:fixed; bottom:200px;">If you want to know more detail, please press right-top sidebar button!! : ) </pre>
            </div>
        </section>


        <footer>
            <!------------------------제작자-------------------------->
            <div class="footer_context">
                <hr>
                <div class="contact">
                    <table border="0" width="1500">
                        <tr>
                            <td>contact</td>
                            <td style="text-align: left;" width="1200">
                                <pre>    @ email. chldydgh4687@gmail.com<br>    @ IVCL,AI center of Sejong Unviersity</pre>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr>
                <p> Assginment by "WebProgramming" of Sejong University, Intelligent Mechatronics Of School<br>
                    @ Designed by Yongho_Choi</p>
            </div>
        </footer>
    </body>
</html>

