<!DOCTYPE html>
<html>
    <head>
        <title>chldydgh4687/github.io</title>
        <style>
            /* debugging */
            .box_check{
                border: 1px solid #000000;
            }   
        </style>
        <!-----------------------------------background / menu / logo----------------------------->
        <link rel="stylesheet" href="../css/back_ground.css">
        <!-----------------------------------context----------------------------->
        <link rel="stylesheet" href="../css/context.css">
        <!-----------------------------------footer----------------------------->
        <link rel="stylesheet" href="../css/footer_style.css">

        <!-----------------------------------footer----------------------------->
        <link rel="stylesheet" href="../css/intro_style.css">
    </head>
    <body>
        <!------------------------logo-------------------------->
        <div id="logo-wrap">
            <img src="../images/logo.png" alt="" usemap="#github">
            <map name="github">
                <area shape="rect" coords="455,55,475,75"
                href="https://github.com/chldydgh4687" target="_blank" alt="github.com/chldydgh4687">
            </map>
			<div id="logo-text">
                <h1 style="font-size:2em">chldydgh4687<br>
                    <span style="font-size:15px">VideoCompression & ImageRestoration</span>
                </h1>
            </div>
            <nav id="topMenu">
                <ul>
                    <li><a class="menuLink" href="https://sites.google.com/view/ivcl" target="_blank">IVCL.Lab</a></li>
                    <li><a class="menuLink" href="../layouts/Activity.html">Activity</a></li>
                    <li><a class="menuLink" href="../layouts/Introduction.html">Introduction</a></li>
                    <li><a class="menuLink" href="../index.html">Main</a></li>
                </ul>
            </nav>
        </div>
        <!-------------------------TOP_BUTTON------------------------->
        <div id="top_button">
            <a href="#logo-wrap"><img src="../images/top_button.jpg" title="위로 가기"></a>
        </div>

        <div class="text_config profile">
            <h1>Yongho_Choi ( @chldydgh4687 )</h1><hr>

            <img src="../images/profile.gif" style="float:left;" width="50%" height="50%" border="1"> 
            <div class="profile_text">
                <ul>
                    <li id="pic1"><h3>Motto</h3></li>
                    <pre style="text-align:center; font-size:30px;">'넘어지더라도 포기는 하지 말자'</pre>
                    <li id="pic2"><h3>Education</h3></li>
                    <li>호서대학교 컴퓨터공학과 중퇴 / 세종대학교 지능기전공학부 편입 ( 2019.02 )</li>
                    <li>지능형 비주얼 컴퓨팅 학부연구생 ( 2019.03 )</li>
                    <li>세종대학교 졸업 예정 ( 2021.02 )</li>
                    <li>세종대학교 석사 진학 예정 ( 2021.03 )</li>
                    <li id="pic3"><h3>Skills</h3></li>
                    <li>VVC / VideoCompression / C / C++</li>
                    <li>ImageRestoration / DeepLearning / Python</li>
                    <li>Linux ( Ubuntu ) / Docker </li>
                    <li>Code Modifying / Understading </li>
                    <li>A force to the end</li>
                    <li id="pic4"><h3>Interest</h3></li>
                    <li>Experiment about proposed idea / Coding Algorithm</li>
                    <li>Exercise / Music </li>        
                </ul>
            </div>
        </div>
        

        <!------------------------제작자-------------------------->
        <div class="footer_context" style="clear:both">
            <hr>
            <p class="made_by">Assginment by "WebProgramming" of Sejong University, Intelligent Mechatronics Of School<br>
                @ Designed by Yongho_Choi, chldydgh4687@gmail.com</p>
        </div>
    </body>
</html>

